<div class="book-gallery">
  <div class="book-card">
    <div class="book-cover">
      <img src="#" alt="Book Cover">
    </div>
    <div class="book-details">
      <h2 class="book-title">Book 1</h2>
      <p class="book-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac orci in turpis lacinia vestibulum. Vestibulum a sapien vel nibh aliquam sodales sit amet vel enim. </p>
    </div>
  </div>
  
  <div class="book-card">
    <div class="book-cover">
      <img src="#" alt="Book Cover">
    </div>
    <div class="book-details">
      <h2 class="book-title">Book 2</h2>
      <p class="book-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac orci in turpis lacinia vestibulum. Vestibulum a sapien vel nibh aliquam sodales sit amet vel enim. </p>
    </div>
  </div>
  
  <!-- add more book cards here -->
  </div>

<!-- <div class="modal">
  <div class="modal-content">
    <button type="button" class="js-modal-close">
      <svg class="close-icon" width="12" height="12">
        <use href="/src/images/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="book-details"></div>
  </div>
</div> -->
  <!-- <div class="modala" id="modal">
    <div class="modala__content">
      <h2 class="modala__title">Sign In</h2>
      <form class="modala__form">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Sign In</button>
      </form>
      <button class="modala__close" id="modala-close">&times;</button>
    </div>
  </div>    -->
  